<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
footer {position:absolute;
         left: 0;
         bottom: 0;
         width: 100%;
         background-color: #555;
         color: white;
         padding: 15px;
         text-align: center;
         margin-top: 10px;
         height: 2.5rem;
         margin-top: 30;
         border-radius: 0;
         }
</style>
</head>
<body> 
  <footer class="container-fluid text-center">
  	<p></p>
  </footer>
  </body>
  </html>